.react-datepicker {
  font-size: 1em;
}

.react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__header {
  padding-top: 0.8em;
}

.react-datepicker__month {
  margin: 0.4em 1em;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}

.react-datepicker__current-month {
  font-size: 1em;
}

.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}

.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}

.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

ul.react-datepicker__time-list {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 75px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
}

