$crm-border-style: 1px solid #c2cfd6;

.crm-card {
  border-bottom: none;
  border-right: none;
}

.crm-card-header {
  border-right: $crm-border-style;
}

.label-in-form {
  background-color: #F7F7F9;
  color: #A6A9B2;
  padding-top: 14px;
  border-right: $crm-border-style;
  border-bottom: $crm-border-style;
}

.control-container {
  border-right: $crm-border-style;
  border-bottom: $crm-border-style;
  padding: 8px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.control-in-form {
}

.checkbox-in-form {
  margin-left: 0;
  margin-top: 10px;
}

.asterisk-icon {
  color: red
}

.currency-icon {
  font-weight: bold;
  text-decoration: underline;
}

.currency-link {
  color: #824e22;
}

.crm-btn-group {
  margin-bottom: 20px;

  .btn {
    min-width: 70px;
  }
}

.btn-cancel {
  color: red;
}

.content-in-form {
  padding-top: 14px;
  font-weight: bold;
}

.highlight-text {
  color: #c19a42;
}

.menu-button {
  background-color: #f3f3f3;
  border-color: #c4ccd0;
  margin-right: -1px;

  &:hover {
    background-color: #ffffff;
  }
}

.auto-width {
  min-width: 0px;
}

.header-line {
  border-bottom: $crm-border-style;
  margin-bottom:20px;
  font-weight: bold;
}
.error{
  font-weight: 700;
  color: #700;
  display: block;
}

