﻿<!DOCTYPE html>
<html lang="en"
      data-apiurl="@ViewData["apiBaseUrl"]"
      data-locale="@ViewData["dataLocale"]">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CRM App">
  <meta name="author" content="tdh-team">
  <meta name="keyword" content="crm, automobile">
  <link rel="shortcut icon" href="img/app-logo.png">
  <title>CRM App Prototype@0.1</title>
  <base href="~/" />
  <link href="~/index.fonts.css" rel="stylesheet">
  <link href="~/index.styles.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <div id="root">Loading...</div>

  <script type="text/javascript" src="~/index.bundle.js"></script>
</body>
</html>
